
.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: var(--verde-claro-header);
}

.nav-bar{
    color: var(--branco-fonte);
    margin-right: 5em;
    font-size: 20px;
    list-style: none;
    display: flex;
    gap: 50px;
}

.logo img{
    width: 350px;
}

.hero{
    background-color: var(--verde-escuro-bg);
    color: var(--branco-fonte);
    text-align: center;
    padding: 3em;

    h1{
        font-size: 38px;
        padding-bottom: 1em;
    }

    h2{
        font-size: 20px;
    }

}

.container-search{
    width: 100%;

    display: flex;
    justify-content: center;

    margin-top: 40px;
}


.input-search{
    width: 550px;
    height: 40px;

    background-color: var(--branco-fonte);

    border-radius: 40px;

    display: flex;
    align-items: center;

    padding: 3px;

    overflow: hidden;
}

.input-search input{
    flex: 1;
    height: 100%;

    border: none;
    outline: none;

    background-color: #3d3939;

    border-radius: 40px 0 0 40px;

    padding-left: 20px;

    color: white;

    font-size: 18px;
}

.input-search input::placeholder{
    color: #d1d1d1;
}

.input-search button{
    width: 70px;
    height: 100%;

    border: none;

    background-color: transparent;

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

.input-search button img{
    width: 24px;
}